.dashboard-name {
  padding: 20px 0 10px 15px;
}

.welcome {
  padding: 0 0 0 15px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 15px;
}

.card {
  border-radius: 10px;
  padding: 25px;
}

.insurance-dash-card {
  background-color: #1a2a44;
  color: white;
  line-height: 1.5;
}

.secure-btn {
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-btn {
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.product-card {
  background-color: #fff3e6;
  color: #333;
}

h3 {
  margin: 0 0 10px;
  font-size: 1.3rem;
}

p {
  margin: 0 0 15px;
  font-size: 1rem;
}

button:hover {
  opacity: 0.9;
}

.recent {
  width: 95%;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.recent-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px;
}

.recent-cards {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  background: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6px 0;
}

.label {
  font-weight: bold;
  color: #333;
}

.value {
  text-align: right;
  color: #000;
}

.date {
  font-size: 12px;
  color: gray;
}

.status {
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 13px;
}

.completed {
  background: #d4f8d4;
  color: #137a13;
}

.failed {
  background: #f8d4d4;
  color: #a11311;
}

.dashboard.blur {
  width: 100%;
  min-height: 100vh;
  background-color: #e7e4e4;
}
