.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  height: 4rem;
  padding: 0 15px 0 15px;
}

.header.blur {
  width: 100%;
  height: 4rem;
  background-color: #e7e4e4;
}

.header-text {
  display: flex;
  gap: 20px;
}
