.login-form {
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px;
}

.login-logo {
  padding-bottom: 10px;
  text-align: center;
}

.login-heading {
  padding: 2px 0;
}

.login-text {
  width: 100%;
  padding: 15px 0;
  color: #b6b4b4;
}

input {
  padding: 12px 14px;
  width: 100%;
  border-radius: 3px;
  background-color: #333;
  border: 1px solid #525151;
  color: white;
  box-sizing: border-box;
}

.form-text-2,
.form-text-3 {
  margin-top: 15px;
}

.login-btn {
  margin-top: 15px;
  width: 100%;
  padding: 15px 0;
  border-radius: 4px;
  background-color: orangered;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.login-btn:hover {
  background-color: #f58c36;
}

.form-text-4 {
  margin-top: 14px;
  text-align: center;
}

.form-text-4 .login-link {
  color: #d46a13;
  text-decoration: none;
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.form-text-4 .login-link:hover {
  color: #f58c36;
}

input::placeholder {
  color: #999;
}
